<%= render 'navbar'%>
<div class="flex flex-wrap justify-around items-center">
  <div>
    <h2 class="font-sans text-5xl font-bold text-blue-900 typewriter">
        “Where <em>IDEAS</em> are born”
    </h2>
    <p class="font-sans text-lg text-blue-900 tracking-wide">
      Crea conceptos, edita ideas, agrupa nociones y exporta realidades.
    </p>
  </div>
  <div class="mx-12 mt-16">
    <div>
      <img class="h-full w-auto" src="<%= asset_path('Notes4.png') %>">
    </div>
  </div>
</div>
<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#F87171" fill-opacity="1" d="M0,0L1440,128L1440,320L0,320Z"></path></svg>